<form [formGroup]="form">
    <fieldset>
        <legend>Login</legend>
        <div class="form-field">
            <label for="email">Email</label>
            <input id="email" name="email" formControlName="email">
        </div>
        <div class="form-field">
            <label for="password">Password</label>
            <input id="password" name="password" formControlName="password" type="password">
        </div>
    </fieldset>
    <div class="form-buttons">
        <button class="button button-primary" (click)="login()">Login</button>
    </div>
</form>
