<div>
    <button (click)="back()">Go Back</button>
    <button *ngIf="myRecipe()" (click)="edit()">Edit</button>
    <div *ngFor="let content of recipeContents" class="recipeContent">
        <div class="recipeInfo card">
            <h3>{{content.recipe.title}}</h3>
            <ul>
                <li>Duration: {{content.recipe.duration.value}} {{content.recipe.duration.unit}}</li>
                <li>Difficulty: {{content.recipe.difficulty}}</li>
                <li>Public: {{content.recipe.visibility}}</li>
            </ul>
        </div> 
        <div class="card">
            <h3>Ingredients</h3>
            <ul>
                <li *ngFor="let item of content.ingredients">
                    {{item.ingredient.name}} {{item.ingredient.amount.value}} {{item.ingredient.amount.unit}}
                </li>
            </ul>
        </div>
        <div class="card">
            <h3>Instructions</h3>
            <p>{{content.instructionText}}</p>
        </div>
    </div>
</div>