<header>
  <h1>{{title}}</h1>
  <nav>
    <a *ngIf="!isDashboardRoute()" [routerLink] = "['/login']" [ngClass]="{'active': isLoginRoute()}">Login</a>
    <a *ngIf="!isDashboardRoute()" [routerLink] = "['/register']" [ngClass]="{'active': isRegisterRoute()}">Register</a>
    <a *ngIf="isDashboardRoute()" [routerLink] = "['/profile']" [ngClass]="{'active': isProfileRoute()}">Profile</a>
    <button *ngIf="isDashboardRoute()" (click)="logout()">Logout</button>
  </nav>
</header>
<main>
  <article *ngIf="isHomeRoute() || isLoginRoute() || isRegisterRoute()" class="card">
    <h2>YOU CAN</h2>
    <ul>
      <li><span class="triangle-right"></span><span class="highlight">CREATE</span> and <span class="highlight">SHARE</span> your recipes with other users</li>
      <li><span class="triangle-right"></span><span class="highlight">CHALLENGE</span> others in a cooking contest</li>
      <li><span class="triangle-right"></span><span class="highlight">TEAM</span> up with your friends</li>
      <li><span class="triangle-right"></span><span class="highlight">BE THE CHEF</span> of the kitchen</li>
    </ul>
  </article>
  <div *ngIf="isDashboardRoute()" class="subnav">
    <section>Leaderboard</section>
    <section>Recipes</section>
    <section>Team</section>
  </div>
  <router-outlet></router-outlet>
</main>
<footer>
  <a class="github-profile" href="https://github.com/td-tan/BeChef">
      <img src="/assets/github-mark-white.svg">
      <span>td-tan</span>
  </a>
  <div class="stack">
    <span>powered by</span>
    <a class="mongodb" href="https://mongodb.com/">
      <img src="/assets/MongoDB_Spring-Green.svg">
    </a>
    <a class="expressjs" href="https://expressjs.com/">
      <img src="/assets/express-icon-black.svg">
    </a>
    <a class="angular" href="https://angular.io/">
      <img src="/assets/angular.svg">
    </a>
    <a class="nodejs" href="https://nodejs.org/">
      <img src="/assets/nodejs-new-pantone-white.svg">
    </a>
  </div>
</footer>