header
    height: 50px
    background-color: #F67280
    color: #355C7D

    font-size: 40px
    font-weight: bolder

    padding: 30px
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4)

    display: flex
    justify-content: space-between

    nav
        display: flex
        gap: 12px

        a
            text-decoration: none
            color: #355C7D
            border-bottom: 2px solid
            border-radius: 16px
            padding: 0 12px

        a:hover
            color: #355C7D
            border: 2px solid
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4)

        a:active
            background-color: #355C7D
            color: #F67280

main
    flex: 1

footer
    background-color: #355C7D

    display: flex
    justify-content: center

    a
        text-decoration: none
        font-size: 25px
        font-weight: bold
        color: white



.github-profile
    display: flex
    flex-direction: column
    align-items: center

    img
        width: 64px
        height: 64px
        margin: 10px

.github-profile:hover img, 
.github-profile:hover span
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4)
        border-radius: 50px
        color: #F67280