<header>
  <span>Welcome to {{title}}</span>
  <nav>
    <a href="/login">Login</a>
    <a href="/register">Register</a>
  </nav>
</header>
<main>

</main>
<footer>
  <a class="github-profile" href="https://github.com/td-tan/BeChef">
      <img src="/assets/github-mark-white.svg">
      <span>td-tan</span>
  </a>
  <div class="stack">
    <span>powered by</span>
    <a class="mongodb" href="https://mongodb.com/">
      <img src="/assets/MongoDB_Spring-Green.svg">
    </a>
    <a class="expressjs" href="https://expressjs.com/">
      <img src="/assets/express-icon-black.svg">
    </a>
    <a class="angular" href="https://angular.io/">
      <img src="/assets/angular.svg">
    </a>
    <a class="nodejs" href="https://nodejs.org/">
      <img src="/assets/nodejs-new-pantone-white.svg">
    </a>
  </div>
</footer>
