<div class="banner"><h2>Welcome, {{username}}</h2></div>
<div class="subnav">
    <section>Leaderboard</section>
    <section>Recipes</section>
    <section>Team</section>
</div>
<table>
    <thead>
        <tr>
            <th>Rank</th>
            <th class="th-left">Username</th>
            <th>Points</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of leaderboard">
            <td></td>
            <td class="td-left">{{user.username}}</td>
            <td>{{user.points}}</td>
        </tr>
    </tbody>
</table>