<div class="banner"><h2>Hello {{username}}!</h2></div>
<div class="subnav">
    <a [routerLink] = "['./leaderboard']" [ngClass]="{'active': isRouteLeaderboard()}">Leaderboard</a>
    <a [routerLink] = "['./recipes']" [ngClass]="{'active': isRouteRecipes()}">Recipes</a>
    <section (click)="showTeam()" [ngClass]="{'active': false}">Team</section>
</div>

<router-outlet></router-outlet>

<div *ngIf="false" class="teamDashboard">
    <button>Join Team</button>
    <button>Create Team</button>
</div>